fieldset {
    margin-bottom: 50px /* 아래쪽 마진 */
}

ul {
    list-style: none;

}

li {
    margin: 15px auto;
}

#reserve li label { /* #shipping 요소의 하위 li label 요소에 적용 */
    width: 80px;
    float: left; /* 좌우 배치 */
    display: block;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

/* input[type="text"], input[type="tel"], input[type="email"]{

} */

div{
    width: 80px;
    margin: 15px auto;
    float: left;
}
